<section class="py-4 px-2">
    <h3 class="flex">
        <span class="inline-block bg-black w-5 h-5 rounded-full text-white mr-2 font-semibold text-center text-sm">{{number}}</span>
        <span class="font-extrabold uppercase text-black">{{title}}</span>
        <span class="{{iconClass}}"></span>
    </h3>
</section>